# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.DS_Store
*.code-workspace
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
bnf_send.txt
docs/ref/bnf_ho
.vscode/*
docs/outside_reference/Screen Shot 2021-07-17 at 9.42.33 AM.png
docs/outside_reference/Screen Shot 2021-07-18 at 10.20.27 AM.png

*.mil